.modal {
  background-color: var(--lighter-salmon);
  color: var(--brown);
}

.title {
  font-size: 1.1rem;
}

.close:hover {
  background-color: var(--light-salmon);
}

.contentWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contentWrapper button {
  cursor: pointer;

  width: 16rem;

  margin-top: 1.5rem;

  border: none;
  border-radius: 10px;

  background-color: var(--yellow);

  font-size: 1.2rem;

  transition: background-color 0.1s linear;
}

.contentWrapper button:hover {
  background-color: var(--light-yellow);
}

.contentWrapper button:active {
  background-color: var(--salmon);
}

.contentWrapper button:disabled {
  background-color: var(--light-yellow);
}

.inputElements {
  width: 16rem;
  font-family: 'Poppins', sans-serif;
}

.inputElements input {
  padding: 1.2rem 1rem;

  font-size: 1.1rem;

  background-color: var(--light-yellow);

  border: none;
  border-radius: 10px;

  font-size: 1.5rem;
}

.inputElements + .inputElements {
  margin-top: 1rem;
}

.unitInputRightSection {
  width: 6rem;

  opacity: 0.5;
}
