.gameDetails {
  --game-details-footer-height: 3rem;

  position: relative;

  margin: auto;
  padding-bottom: var(--game-details-footer-height);

  width: 55vw;
  height: 50vh;

  border-radius: 20px;

  background-color: var(--lighter-salmon);

  box-shadow: 10px 10px 25px 1px rgba(0, 0, 0, 0.15);

  color: var(--brown);
}

.gameDetails button {
  cursor: pointer;

  padding: 0 1.5rem;

  border: none;
  border-radius: 10px;

  background-color: var(--yellow);

  font-size: 1.5rem;
  text-align: center;

  transition: background-color 0.1s linear;
}

.gameDetails button:first-child {
  padding: 0 1.3rem;
  font-size: 1.2rem;
}

.gameDetails button:hover {
  background-color: var(--light-yellow);
}

.gameDetails button:active {
  background-color: var(--lighter-salmon);
}

.gameDetails button:disabled {
  background-color: var(--lighter-salmon);
  cursor: default;
}

.gameDetails header {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;

  height: 3rem;

  border-radius: 20px 20px 0 0;

  background-color: var(--salmon);
  color: #fff;

  padding: 1rem;

  font-size: 1.5rem;
}

.gameDefinition {
  position: absolute;

  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  display: flex;
  justify-content: center;
  width: calc(30vw / 2);
}

.box {
  flex: 1;
  display: flex;
  justify-content: center;
}

.gameDetails header > span {
  display: flex;
  align-items: center;
}

.gameDetails header > span:first-child img {
  margin-right: 1rem;
}

.gameDetails header > span:last-child img {
  margin-left: 1rem;
}

.box:first-child > span {
  margin-right: auto;
}

.box:last-child > span {
  margin-left: auto;
}

.teamFlag {
  background-color: #000;
  width: 4.5vw;
  height: 4.5vw;
  border-radius: 100%;
  -webkit-user-drag: none;

  object-fit: cover;
}

.gameDetails footer {
  padding: 1rem;

  display: flex;
  align-items: center;
  justify-content: space-between;

  border-radius: 0 0 20px 20px;

  background-color: var(--salmon);
  color: #fff;

  font-size: 1.5rem;
}

.gameDetails footer label {
  display: flex;
  align-items: center;

  margin-right: 0.5rem;
}

.gameDetails footer label input {
  padding: 0 1rem;

  width: 12rem;

  margin-left: 1rem;

  background-color: var(--light-yellow);

  border: none;
  border-radius: 10px;

  font-size: 1.5rem;
}
