.modal {
  background-color: var(--lighter-salmon);
  color: var(--brown);
}

.title {
  font-size: 1.1rem;
}

.close:hover {
  background-color: var(--light-salmon);
}

.contentWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.teams {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 100%;

  font-size: 1.1rem;
}

.teams label input {
  width: 5rem;

  background-color: var(--light-yellow);

  border: none;
  border-radius: 10px;

  font-size: 1.5rem;
  text-align: center;
}

.teams label:first-child input {
  margin-left: 1rem;
}

.teams label:last-child input {
  margin-right: 1rem;
}

.contentWrapper button {
  cursor: pointer;

  padding: 0 1.5rem;
  width: 15rem;

  margin-top: 1rem;

  border: none;
  border-radius: 10px;

  background-color: var(--yellow);

  font-size: 1.2rem;

  transition: background-color 0.1s linear;
}

.contentWrapper button:hover {
  background-color: var(--light-yellow);
}

.contentWrapper button:active {
  background-color: var(--salmon);
}
