
.CardNovoJogo{
  background-color: transparent;
  width: 23vw;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 15px;
  font-family: 'Poppins', sans-serif;
  padding: 3vh 1vw;
  margin-bottom: 5vh;
  user-select: none;
  border: 10px dashed var(--light-salmon);
  transition: .3s ease;
  cursor: pointer;
}

.CardNovoJogo:hover{
  transform: scale(0.95);
}

.CardNovoJogo p{
  margin: 0;
}

.CardNovoJogo p:nth-child(1){
  font-size: 7rem;
  color: var(--light-salmon);
}
.CardNovoJogo p:nth-child(2){
  font-size: 1.75rem;
  color: var(--brown);
}