.playersContainer {
  display: flex;

  padding: 0 1rem;

  font-size: 1.1rem;
}

.playersContainer div {
  display: flex;
  justify-content: space-between;

  height: 100%;
  width: 100%;
}

.playersContainer ul {
  margin: 1rem 0;
  padding: 0;
  width: 50%;
}

.playersContainer ul:first-child {
  padding-right: 0.5rem;
  border-right: 2px solid;
}

.playersContainer ul:last-child {
  padding-left: 0.5rem;
  text-align: right;
}

.playersContainer ul li {
  display: flex;
  width: 100%;
}

.playersContainer ul li span:last-child {
  flex-grow: 1;
  text-align: right;
  display: flex;
}

.playersContainer ul li span:last-child::before {
  content: '';
  border-bottom: 2px dotted;
  flex-grow: 1;
  margin-inline: 0.1rem;
  margin-bottom: 0.2rem;
}

.playersContainer ul li + li {
  margin-top: 1.5rem;
}
