@import-normalize;

html {
  --light-yellow: #fae9ca;
  --yellow: #fcc462;
  --lighter-salmon: #f5c8b0;
  --light-salmon: #f0a191;
  --salmon: #ca5d59;
  --brown: #5a2e1f;
  --black: #101010;

  --footer-height: 4rem;
}

* {
  font-family: 'Poppins', sans-serif;
}

body {
  margin: 0;

  color: var(--black);

  background-color: var(--light-yellow);
}

a {
  text-decoration: none;
}

/* remove arrows from inputs */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}

.page-container {
  position: relative;
  min-height: 100vh;
}

.content-wrap {
  padding-bottom: calc(var(--footer-height) + 3rem);
}
