@import-normalize;

html {
  --light-yellow: #FAE9CA;
  --yellow: #FCC462;
  --lighter-salmon: #F5C8B0;
  --light-salmon: #F0A191;
  --salmon: #CA5D59;
  --brown: #5A2E1F;
  --black: #101010;

  --footer-height: 3.75rem;
}

body {
  margin: 0;
  
  font-family: 'Poppins', sans-serif;
  color: var(--black);

  background-color: var(--light-yellow);
}

a {
  text-decoration: none;
}

.page-container {
  position: relative;
  min-height: 100vh;
}

.content-wrap {
  padding-bottom: calc(var(--footer-height) + 3rem);
}
