.modal {
  background-color: var(--lighter-salmon);
  color: var(--brown);
}

.title {
  font-size: 1.1rem;
}

.close:hover {
  background-color: var(--light-salmon);
}

.contentWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.teams {
  display: flex;
  justify-content: space-between;
  align-items: end;

  width: 100%;

  font-size: 1.1rem;
}

.teams span {
  font-size: 1.8rem;
  margin-inline: 1.2rem;
}
